.icon{
    display:visible;
    color:red;
    background-color:black;
    font:30px;
    z-index:100;
}

body {
    background-color: rgb(173, 39, 35);
}

.grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:15px;
}
.box{
    width:auto;
    position:relative;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.play {
    position:relative;
    text-align:center;
    justify-content:center;
    align-items:center;
    z-index:100;
    margin-left:200px;
}
.play:hover {
    background-color:black;
    color:white;
}

